@tailwind base;
@tailwind components;
@tailwind utilities;

.slide1{
  background-image: url("/images/study_abroad_2.jpg");
}

.slide2{
  background-image: url("/images/photography_3.jpg");
}

.slide3{
  background-image: url("/images/design.jpg");
}

.slide4{
  background-image: url("/images/work_and_pay.jpg");
}

.slide5{
  background-image: url("/images/consulting.jpg");
}
